## Classification(Predicting Withdrawals)

In [106]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier  # Correct import
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score  # Correct import

In [107]:
#Load the dataset
df = pd.read_csv(r"C:\Users\User\Downloads\CPSData.csv\CPSData.csv")

In [108]:
#Display the basic information and the first few rows of the dataset
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131302 entries, 0 to 131301
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PeopleInHousehold   131302 non-null  int64
 1   Region              131302 non-null  object
 2   State               131302 non-null  object
 3   MetroAreaCode       97064 non-null   float64
 4   Age                 131302 non-null  int64
 5   Married             105964 non-null  object
 6   Sex                 131302 non-null  object
 7   Education           105964 non-null  object
 8   Race                131302 non-null  object
 9   Hispanic            131302 non-null  int64
 10  CountryOfBirthCode  131302 non-null  int64
 11  Citizenship         131302 non-null  object
 12  EmploymentStatus    105513 non-null  object
 13  Industry            66242 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 14.0+ MB

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
0,1,South,Alabama,26620.0,85,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Retired,NaN
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services
2,3,South,Alabama,13820.0,37,Never Married,Female,High school,Black,0,57,"Citizen, Native",Disabled,NaN
3,3,South,Alabama,13820.0,18,Never Married,Male,No high school diploma,Black,0,57,"Citizen, Native",Not in Labor Force,NaN
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services

## Data Prepocessing

In [109]:
# Handle missing values without using inplace
df['MetroAreaCode'] = df['MetroAreaCode'].fillna(df['MetroAreaCode'].mode()[0])

# For other categorical columns, fill missing values with 'Unknown'
df['Married'] = df['Married'].fillna('Unknown')
df['Education'] = df['Education'].fillna('Unknown')
df['EmploymentStatus'] = df['EmploymentStatus'].fillna('Unknown')
df['Industry'] = df['Industry'].fillna('Unknown')

In [110]:
print(df.isnull().sum())

PeopleInHousehold     0
Region                0
State                 0
MetroAreaCode         0
Age                   0
Married               0
Sex                   0
Education             0
Race                  0
Hispanic              0
CountryOfBirthCode    0
Citizenship           0
EmploymentStatus      0
Industry              0
dtype: int64

In [111]:
# Feature Selectionprint(df)

In [112]:


# Display the column names
print(df.columns.tolist())

['PeopleInHousehold', 'Region', 'State', 'MetroAreaCode', 'Age', 'Married', 'Sex', 'Education', 'Race', 'Hispanic', 'CountryOfBirthCode', 'Citizenship', 'EmploymentStatus', 'Industry']

In [113]:
# Step 1: Create the hypothetical withdrawal variable
df['Withdraw'] = ((df['Age'] >= 18) & (df['Age'] <= 30) & (df['EmploymentStatus'] == 'Unemployed')).astype(int)

In [114]:
 #Step 2: Define features and target variable
X = df.drop('Withdraw', axis=1)  # Features
y = df['Withdraw']  # Target variable

# Step 3: One-hot encoding for categorical features
X = pd.get_dummies(X, drop_first=True)

In [115]:
# Step 4: Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 5: Train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Step 6: Make predictions
y_pred = model.predict(X_test)

# Step 7: Evaluate the model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[25963     4]
 [    0   294]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     25967
           1       0.99      1.00      0.99       294

    accuracy                           1.00     26261
   macro avg       0.99      1.00      1.00     26261
weighted avg       1.00      1.00      1.00     26261